<div class="jumbotron text-center">
    <div class="container">
        <a href="/" class="logo">
            <img src="<%= asset_path('logo.png') %>">
        </a>
        <h1>Coffee and Coding</h1>
        <p>I'm a prospective software engineer. I want to learn, create, and improve.</p>
        <a type="button" class="btn btn-lg btn-default" href="https://www.linkedin.com/in/tyler-lugger-38081012a"><span class="glyphicon glyphicon-user"></span> My LinkedIn profile</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/tlugger"><span class="glyphicon glyphicon-flash"></span> My GitHub profile</a>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>
                <span class="glyphicon glyphicon-info-sign"></span>
                Projects I've worked on</h3>
            <ul>
                <li>PyQt GUI tool to assist with research aircraft data loading.
                </li>
                <li>Drupal Content Type to help research team communication of project specific information.
                </li>
                <li>Drupal block module to create web page citations from Digital Object Identifier associated with publications.</li>
                <li>Python program to calculate data statistics from NetCDF files.
                </li>
                <li>PyQt GUI for simplifying the operation of the NCAR Giant Nuclei Impactor (ongoing project). </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>
                <span class="glyphicon glyphicon-pencil"></span>
                Proficient programming languages</h3>
            <ul>
                <li>Python</li>
                <li>C</li>
                <li>C++</li>
                <li>Scala</li>
                <li>Ruby</li>
                <li>PHP</li>
                <li>HTML</li>
                <li>JavaScript</li>
            </ul>
    </ul>
    <h3>
        <span class="glyphicon glyphicon-wrench"></span>
        Tools used</h3>
    <ul>
        <li>Heroku</li>
        <li>GitHub</li>
        <li>Atom</li>
        <li>IntelliJ</li>
        <li>Slack</li>
        <li>PyQt</li>
        <li>Ruby on Rails</li>
        <li>MySQL</li>
        <li>TravisCI</li>
    </ul>
</div>
</div>
<div class="container">
    <pre>
    <%= Cowsay.say("Thank you for visiting!") %>
  </pre>
</div>
