$brand-primary: #6E6E6E;
$button-primary: #2896D1;
$brand-language: #B01302;

.jumbotron {
  background: $brand-primary;
  color: white;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($button-primary, 0%);
    border-color: lighten($button-primary, 0%);
    &:hover {
      background: lighten($button-primary, 10%);
    }
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

}
